<%- include("partials/header")%>

<div data-bs-spy="scroll" data-bs-target="#Finish" data-bs-smooth-scroll="true" class="Sve">

<!-- Home section -->
<section id="scrollspyHeading1" class="Home">

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/images/logo sam.png" class="logo-sam d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class=" slova display-5 fw-bold lh-1 mb-3">Hello, our name is</h1>
        <h1 class=" naslov display-5 fw-bold lh-1 mb-3">KingTech Company</h1>
        <p class=" slova lead">And We are <span class="typing"></span></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="#scrollspyHeading5"><button type="button" class=" dugme btn btn-warning btn-lg px-4 me-md-2">Hire me</button></a>
        </div>
      </div>
    </div>
  </div>

</section>

<!--About section -->
<section id="scrollspyHeading2" class="About">

    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom border-5 border-dark o-nama">About Us</h2>
    
        <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
          <div class="col d-flex flex-column align-items-start gap-2">
            <h3 class="fw-bold podnaslov">We Are KingTech Company And We Are</h3>
            <p class=" pod-opis">A small company dealing with web development, account management, internet administration and hosting company. The best full stack developers, designers, administrators work in our team. For more information download our CV.</p>
            <a href="#" class=" drugo-dugme btn btn-primary btn-lg">Download CV</a>
          </div>
    
          <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 g-4 gap-2">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Web Development</h5>
                  <p class="card-text mini-tekst">A full-stack developer is a developer or engineer who can build both the front end and the back end of a website. The front end and the back end require different skill sets.</p>
                  
                </div>
              </div>
    
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Account Managment</h5>
                  <p class="card-text mini-tekst">An account manager is an entry- to mid-level employee who is responsible for the day-to-day management of a particular customer's account within a business.</p>
                  
                </div>
              </div>
    
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">NetWork Administration</h5>
                  <p class="card-text mini-tekst">A network administrator is responsible for keeping an organization's computer network up-to-date and operating as intended.</p>
                  
                </div>
              </div>
    
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Hosting</h5>
                  <p class="card-text mini-tekst">Web hosting is a service that allows organizations and individuals to post a website or web page onto the Internet.</p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

</section>

<!-- Skills -->

<section id="scrollspyHeading3" class="Skills">

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <h2 class="pb-2 border-bottom border-5 border-light o-nama boja-teksta">Skills</h2>
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-md-10 mx-auto col-lg-5">
       <div class="HTML">
          <h2 class="skilovi-bar">HTML</h2>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 94%">94%</div>
        </div>
      </div>
      <div class="CSS">
        <h2 class="skilovi-bar">CSS</h2>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
        </div>
      </div>
      <div class="JS">
        <h2 class="skilovi-bar">Java Script</h2>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 84%">84%</div>
        </div>
      </div>
      <div class="MySql">
        <h2 class="skilovi-bar">My Sql</h2>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 63%">63%</div>
        </div>
      </div>
      <div class="Security">
        <h2 class="skilovi-bar">Authentication & Security</h2>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 72%">72%</div>
        </div>
      </div>
      </div>

      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3 experience-our granica">Our Experience</h1>
        <p class="col-lg-10 fs-4 opis-exp">We have a lot of experience with creating websites, account management, server management and hosting. You can view our CV for more information.</p>
      </div>
      
    </div>
  </div>

</section>


<!-- Team -->

<section id="scrollspyHeading4" class="Team">
<div class="container">
  <h2 class="pb-2 border-bottom border-5 border-dark o-nama">Team</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col granica">
      <div class="card">
        <img src="/images/avatari.jpg" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Semir Ćilimković</h5>
          <p class="card-text">NetWork Admin, Marketing Manager, Hosting Admin</p>
        </div>
      </div>
    </div>
    <div class="col granica">
      <div class="card">
        <img src="/images/avatari.jpg" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Benjamin Palavrić</h5>
          <p class="card-text">Front-End Developer, Design Manager, Account Manager</p>
        </div>
      </div>
    </div>
    <div class="col granica">
      <div class="card">
        <img src="/images/avatari.jpg" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mehmed Ravančić</h5>
          <p class="card-text">Back-End Developer, Programer, Account Manager</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- Contact -->

<section id="scrollspyHeading5" class="Contact">

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <h2 class="pb-2 border-bottom border-5 border-light o-nama boja-teksta">Contact</h2>
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3 experience-our">Get In Touch</h1>
        <p class="col-lg-10 fs-4 opis-exp">If you are interested in our services or have any additional questions, you can contact us through our website or by email. Thank you for visiting us.</p>
      <div class="mail-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 16 16">
          <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
          <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
        </svg>
        <a href="" class="stil-mail">kingtechcompany.official@gmail.com</a>
      </div>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form action="https://formsubmit.co/meho.mehinjo@gmail.com" class="p-4 p-md-5 bg-light bg-transparent" method="POST">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" required>
            <label for="floatingInput">Name</label>
          </div>
          <input type="hidden" name="_subject" value="New submission!">
          <input type="hidden" name="_template" value="box">
          <input type="hidden" name="_subject" value="New submission!">
          <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword">Email Adress</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword">Subject</label>
          </div>
          <div class="form-floating mb-3">
            <textarea class="form-control" name="message" id="" cols="30" rows="10" placeholder="message..." required></textarea>
            <label for="floatingPassword">Message</label>
          </div>
          <div class="checkbox mb-3">
            
          </div>
          <button type="submit" class=" dugme btn btn-warning btn-lg px-4 me-md-2">Send Message</button>
          <hr class="my-4">
          
        </form>
      </div>
    </div>
  </div>  

</section>


</div>

<%- include("partials/footer")%>