body{
    background-image: url(/images/gg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bangers', cursive;
    background-attachment: fixed;
}
.navbar-nav{
    position: absolute;
    right: 0;
}
.nac-item{
    color: #ffde59;
}
.nav-link:hover{
    color: #ffde59;
    text-shadow: 
    0 0 7px #ffde59,    
     0 0 10px #ffde59,    
      0 0 21px #ffde59,    
       0 0 42px #ffde59,    
        0 0 82px #ffde59,    
         0 0 92px #ffde59,    
          0 0 102px #ffde59,   
            0 0 151px #ffde59;;
            transition: 0.7s;
            -webkit-text-stroke-width: 0px;
}
.navbar-brand{
    color: #ffde59;
}
.navbar-brand:hover{
    color: #ffde59;
}
.nav-link{
    margin-right: 5px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #111;
}
.slova{
    font-size: 35px;
    color: #929693;
}
.naslov{
    color: #ffde59;
    font-size: 65px;
}
.dugme{
    background-color: #ffde59;
}
.logo-sam{
    padding-left: 50px;
}
.dugme:hover{
    background-color: black;
    color: #ffde59;
}
.typing{
    color: #ffde59;
}
.o-nama{
    color: black;
    text-align: center;
    border-color: black;
}
.podnaslov{
    color: black;
}
.pod-opis{
    color: #929693;
}
.About{
    background-color: #fff;
}
.mini-tekst{
    color: #929693;
}
.drugo-dugme{
    color: #fff;
    background-color: black;
}
.drugo-dugme:hover{
    color: #ffde59;
    background-color: black;
}
.card:hover{
    color: #ffde59;
    transition: 0.7s;
}
.boja-teksta{
    color: #ffde59;
    text-align: center;
}
.skilovi-bar{
    color: #ffde59;
    padding-top: 20px;
}
.progress-bar{
    color: black;
}
.experience-our{
    color: #fff;
}
.opis-exp{
    color: #fff;
}
.Team{
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
}
.granica{
    padding-top: 50px;
}
.mail-icon{
    color: #ffde59;
    padding-top: 50px;
}
.stil-mail{
    color: #ffde59;
    margin-left: 20px;
    text-decoration: none;
}
footer{
    color: #ffde59;
    
}
footer{
    background: #252525;
    padding: 15px 23px;
    color: #ffde59;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

::-webkit-scrollbar {
  width: 10px;
}

 
::-webkit-scrollbar-track {
  background: #111;
}


::-webkit-scrollbar-thumb {
  background: #ffde59;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: #ffc107;
  }
  
  .icons{
    color: #ffde59;
  }
  .copi-right{
    padding-bottom: 20px;
  }