body{
    background-image: url(/images/gg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bangers', cursive;
}
.navbar-nav{
    position: absolute;
    right: 0;
}
.nac-item{
    color: #ffde59;
}
.nav-link:hover{
    color: #ffde59;
    text-shadow: 
    0 0 7px #ffde59,    
     0 0 10px #ffde59,    
      0 0 21px #ffde59,    
       0 0 42px #ffde59,    
        0 0 82px #ffde59,    
         0 0 92px #ffde59,    
          0 0 102px #ffde59,   
            0 0 151px #ffde59;;
}
.navbar-brand{
    color: #ffde59;
}
.navbar-brand:hover{
    color: #ffde59;
}
.nav-link{
    margin-right: 5px;
}
.slova{
    font-size: 20px;
    color: #929693;
}
.naslov{
    color: #ffde59;
}
.dugme{
    background-color: #ffde59;
}
.logo-sam{
    padding-left: 50px;
}